<header>
    <h1>Fala ai galera beleza!?</h1>
</header>

<section>

    <b>Meu nome é:</b> {{ nome }} <br>
    <b>Minha idade é:</b> {{ idade }} Anos <br>
    <b>Eu sou de:</b> {{ pais }} <br>
    <b>A minha cidade atual é:</b> {{ cidade }} <br>
    <b>E gosto muito de:</b> {{ gosto }} <br>
    <b>Esse cara aqui, sou eu:</b> <br>
    
    <article>
        <h2>Pedra do Arpoador</h2>
        <img src="{{ img }}" >
        <img [src]="img" >
        <img [src]="img" >
        <img [src]="img" >
    </article>

    
   
</section>
